<h2 style="font-size:40px;">New list</h2>

<%= form_with model: @list do |f| %>
  <%= f.label :name, style:"font-size:30px;" %>
  <%= f.text_field :name, style:"width:400px;" %>
  <br>
  <%= f.label :Image_URL, style:"font-size:30px;" %>
  <%= f.text_field :image_url, style:"width:400px;" %>
  <br>
  <br>
  <%= f.submit "Add list", class: "btn btn-dark", style:"width:300px;" %>
  <br>
  <br><br>
<% end %>
