<div class="banner", style="height:300px; background-image: url(<%= cl_image_path('film.jpg') %>); background-size: cover; background-position: center;">
  <h1 style="text-align:center; font-size: 60px; color: white; padding-top: 140px;"> <strong>New list %></strong></h1>
</div>


<div class="container">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :photo, as: :file, style:"width:400px;" %>
    <br>
    <br>
    <%= f.submit "Add list", class: "btn btn-dark", style:"width:300px;" %>
    <br>
    <br><br>
  <% end %>
</div>
