<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-transparent justify-content-between">
      <%= image_tag "film-solid.svg", alt: "Popcorn", width: 40, class: "navbar-brand m-3" %>
      <%= link_to "List index", lists_path, class: "m-3 btn btn-outline-dark" %>
    </nav>

    <%= yield %>
  </body>
</html>
